/* This is something we will ALWAYS do for any production application. 
This is so that no matter what browser, anything inherent to the browser is overriden */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
}

/* Begin app specific code */

/* main container */
/* .container {
  background-color: black;
  left: 15%;
  width: 899.5px;
  height: 95vh;
  max-width: 900px;
  min-width: 899px;
  position: relative;
} */

/* westeros image container */
.img-container {
  background: url('../images/Westeros_HBO.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 752px;
}

/* background-image: url(../images/Westeros_HBO.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 60%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 890.5px;
  min-width: 890px;
  max-width: 891px;
  min-height: 1300px;
  max-height: 1301px; */

/* Modals */
/* #modal-story,
#modal-instructions {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 1; This puts our modal in front of the body (which has a default z-index setting of `0`
}
#modal-textbox1,
#modal-textbox2,
#modal-textbox3 {
  background-color: rgb(247, 238, 238);
  height: 600px;
  width: 550px;
  font-size: small;
} */

#modal-story,
#modal-instructions {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 1;
}

/* Important part */
#modal-textbox1,
#modal-textbox2 {
  background-color: rgb(247, 238, 238);
  height: 700px;
  width: 550px;
  font-size: small;
  overflow-y: initial;
}

#modal-body1,
#modal-body2 {
  height: 80vh;
  overflow-y: auto;
}

/* Buttons */
button {
  margin-bottom: 1em;
  padding: 1em 3em;
  border-radius: 0.5em;
  border: 2px solid black(247, 239, 239, 0.5);
  color: rgba(5, 4, 4, 0.5);
}

button:focus {
  outline: 0;
  animation: rotate-center 0.6s ease-in-out both;
}

/* Scoreboard */
.score-board {
  position: fixed;
  right: 0;
  bottom: 0;
}

/* #cersei image */
#cersei {
  display: flex;
  /* height: 100px;
  width: 75px; */
}
